<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="rosbag"         default = "true"/>
    <arg name="uri"            default = "radio://0/50/2M/E7E7E7E701"/>
    <arg name="mav_id"         default = "1"/>
    <arg name="frame_id"       default = "/world"/>
    <arg name="mocap_exist"    default = "true"/>
    <arg name="camera_exist"   default = "true"/>
    <arg name="use_vio"        default = "true"/>


    <node name="client_node" pkg="mavswarm_client" type="client_node" output="screen">
        <param name="uri" value="$(arg uri)"/>
        <param name="mav_id" value="$(arg mav_id)"/>
        <param name="frame_id" value="$(arg frame_id)"/>
        <param name="mocap_exist" value="$(arg mocap_exist)"/>
        <param name="camera_exist" value="$(arg camera_exist)"/>
        <param name="use_vio" value="$(arg use_vio)"/>
    </node>
        
    <include file="$(find mavros)/launch/px4.launch" />

    <node pkg="rosbag" type="record" name="rosbag"
        args="record -O $(find mavswarm_client)/log/LastFlight.bag /mavros/setpoint_position/local /mavros/setpoint_raw/local /mavros/vision_pose/pose /mavswarm_client/mocap_pose /mavswarm_client/camera_pose"
        if="$(arg rosbag)" />
</launch>
